
body {
	margin: 0;
	padding: 0;
	background-color:aqua; 
}

h1 {
	text-align: center;
}

.container {
	margin: 20px;
	padding: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	display: flex;
	display: flex;
	border: 2px solid black;
	border-radius: 5px;
}

button {
	padding: 5px;
	border-radius: 2px;
	margin: 5px;
	cursor: pointer;
}